li
    list-style: none

.cart
    display: flex
    padding-top: 96px
    padding-bottom: 128px
    justify-content: space-between


    &__item
        display: flex
        width: 652px
        margin-bottom: 40px
        background: white
        filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13))
        justify-content: space-between

    &__desc h3
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 24px
        line-height: 29px
        color: $mainDark

    &__desc
        width: 262px
        padding-top: 22px
        padding-left: 31px

    &__close
        padding-top: 22px
        padding-right: 22px
        justify-self: end
        font-size: 18px
        cursor: pointer

    &__order
        width: 360px
        display: flex
        flex-direction: column

    &__ship-form h3
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 19px
        color: $mainDark

    &__ship-input
        width: 100%
        margin-top: 20px
        border-radius: 0
        padding-top: 13px
        padding-bottom: 16px
        padding-left: 16px
        padding-right: 16px
        border: 1px solid $cartBoxBorder
        box-sizing: border-box
        

    &__ship-calc-btn
        margin-top: 23px
        font-size: 11px
        line-height: 13px
        box-sizing: border-box
        display: inline-block
        color: $cartBoxBorder
        padding: 12px 14px 10px 14px
        border: 1px solid $cartBoxBorder
    
    &__ship-calc-btn:hover
        color: $lightText
        background: $accentCol

    &__buttons
        padding-top: 72px
        display: flex
        width: 100%
        justify-content: space-between
        font-family: Lato
        font-size: 14px
        line-height: 17px

    &__item-btn
        border: 1px solid $cartBoxBorder
        box-sizing: border-box
        padding: 17px 40px 17px 40px
    
    &__item-btn:hover
        color: $lightText
        background: $accentCol


    &__money
        width: 100%        
        display: flex
        flex-direction: column
        align-items: center
        background: #F5F3F3
        padding-left: 42px
        padding-right: 42px
        box-sizing: border-box
        margin-top: 57px
        padding-top: 39px
        
    
    &__prices
        align-items: end
        width: 100%
        border-bottom: 1px solid $cartBoxBorder
        padding-bottom: 21px
        

    &__price div
        display: flex        
    
    &__subtotal
        font-size: 11px
        line-height: 13px
        color: $cartPriceTXT        
        width: 100%
        justify-content: end

    &__subtotal h3
        padding-right: 30px
        font-style: normal
        font-weight: normal
        color: $cartPriceTXT        
    
    &__total
        font-size: 16px
        line-height: 19px
        width: 100%        
        justify-content: end
        padding-top: 12px

    &__total h3
        padding-right: 30px
        font-style: normal
        font-weight: normal    
        color: $mainDark

    &__total p        
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 19px
        color: $accentCol
        
    &__order-btn
        box-sizing: border-box
        padding: 15px 40px 15px 40px
        border: 1px solid none
        background: $accentCol
        color: $lightText  
        margin-top: 17px      
        margin-bottom: 42px
    
    &__order-btn:hover
        background: ($accentCol - #111111)
    
    



.item
    &__params
        margin-top: 42px
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 22px
        line-height: 26px
        color: $goodsTXT
        & li
            display: flex

    &__quantity
        margin-left: 24px
        border: 1px solid $mailInputBG
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 22px
        padding-left: 16px
        padding-right: 16px
        width: 44px
        box-sizing: border-box
        /* identical to box height */


        color: $filterRegularTXT
