$galleryBG: #F7F7F7
$descTXT: #4D4D4D

.productGallery
    width: 100%
    height:  777px
    background: $galleryBG
    display: flex
    justify-content: space-between
    align-items: center
    border: 1px solid $filterRegularBorder
    &__arrow:hover path:last-child
        fill: $accentCol
    position: absolute
    &__arrow
        z-index: 1
        
.productInfo
    position: relative
    padding-top: 712px
    margin-bottom: 128px
    
    &__box
        border: 1px solid $filterRegularBorder
        width: 1140px
        display: flex
        flex-direction: column
        align-items: center
        background: $lightText
        
        

    &__description        
        padding-top: 64px
        padding-bottom: 64px
        &__divider       
            width: 63px
            height: 3px
            background: $catalogAccentTXT
            border: none
            margin-top: 12px
            margin-bottom: 12px
        &__collection
            font-size: 14px
            line-height: 17px
            color: $accentCol
        
        &__title
            font-size: 18px
            line-height: 22px
            font-style: normal
            font-weight: normal
            color: $descTXT
        
        &__text
            margin-top: 48px
            color: $goodsTXT
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 17px
            text-align: center
        
        &__price
            margin-top: 32px            
            font-style: normal
            font-weight: normal
            font-size: 24px
            line-height: 29px
            color: $catalogAccentTXT
            


        

        width: 642px
        display: flex
        flex-direction: column
        align-items: center
        border-bottom-style: solid
        border-bottom-color: $filterRegularBorder



    &__exactModel
        width: 642px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding-top: 64px
        padding-bottom: 64px        
        &__choses
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 17px
            margin-bottom: 48px            
            color: $filterRegularTXT
            display: flex            
            &__size
                padding-right: 24px
                padding-left: 24px
        &__addtocart
            border: 1px solid $browseAccent
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 19px
            color: $browseAccent
            align-items: center
            justify-items: center
            display: flex
            width: 212px
            padding-left: 24px
            padding-top: 15px
            padding-bottom: 15px
            box-sizing: border-box
            & svg
                margin-right: 24px
            &__icon
                fill: $browseAccent       
        &__addtocart:hover
            background: $browseAccent
            border-color: $lightText
            color: $lightText  
            & path
                fill: $lightText                       