@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

header {
  background: #222222;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center {
  padding-left: calc(50vw - 570px);
  padding-right: calc(50vw - 570px);
}

.header__left a:not(first-child) {
  margin-left: 41px;
}

.header__right a:not(:last-child) {
  margin-right: 33px;
}

.title {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.title__picture {
  width: 50%;
}

.title__content {
  width: 50%;
}

.title__text {
  margin-top: 40%;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  width: 50%;
}

.title__heading {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.title__info {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.select {
  color: #F16D7F;
}

.promo__audienced {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.promo__text {
  position: absolute;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 9%;
  font-weight: 400;
}

.promo__deal {
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.audience {
  font-family: Lato;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.promo__common {
  position: relative;
  padding-top: 30px;
}

.common__text {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.promo {
  padding-top: 64px;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.items__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items_elemet {
  width: 360px;
  background: #F8F8F8;
  margin-bottom: 30px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.items_elemet:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.items__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 96px;
  padding-bottom: 48px;
}

.items__title {
  font-size: 30px;
  line-height: 36px;
}

.items__description {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.item__title {
  font-size: 13px;
  line-height: 16px;
}

.item__text {
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
  margin-bottom: 18px;
  font-weight: 400;
}

.item__price {
  font-size: 16px;
  line-height: 19px;
}

.item__desc {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 16px;
}

.browse__all_button {
  padding-top: 48px;
  padding-bottom: 95px;
}

.browse__button {
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #F26376;
  padding: 15px 40px;
  color: #F26376;
  text-decoration: none;
}

.browse__button:hover {
  color: #FFFFFF;
  border-color: #e15265;
  background: #F16D7F;
}

.conditions {
  height: 340px;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340px;
}

.condition__title {
  padding-top: 25px;
  padding-bottom: 16px;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.condition_text {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
}

.byeblock {
  background-image: url("img/byebg.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 448px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 100%;
}

.quote {
  width: 360px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote__photo {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background: url(img/quotephoto.png);
  width: 96px;
  height: 96px;
}

.quote__photo:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: url(img/alt-quote.png);
}

.quote__photo:hover:after {
  content: "Правосудию я верил,\A Но теперь в нём нет мне места!\A Умерла моя подруга детства!\A Палача невеста!";
  color: #5D5D5D;
  margin-top: 10px;
  margin-left: 40px;
  width: 400px;
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  white-space: break-spaces;
}

.quote__text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
  padding-top: 30px;
}

.cur {
  font-style: italic;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__title {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222222;
}

.subscribe__text {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222222;
}

.subscribe__form {
  height: 48px;
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__email {
  background: #E1E1E1;
  height: 48px;
  padding-left: 22px;
  width: 200px;
  border-radius: 27px 0px 0px 27px;
  border-width: 0;
}

.subscribe__button {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #F16D7F;
  height: 48px;
  border-radius: 0px 27px 27px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
}

.subscribe__button:hover {
  background: #be3a4c;
}

.footer {
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright__text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.social__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__button {
  background: #FFFFFF;
  height: 32px;
  width: 32px;
  margin-left: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__button:hover {
  background: #F16D7F;
}

.social__button:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.item__picture__img {
  position: relative;
}

.item__picture:hover .item__picture__img {
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

.item__picture:hover .add_to_cart {
  visibility: visible;
}

.item__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add_to_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  text-align: center;
  margin-left: 111px;
  border: 1px solid #FFFFFF;
  padding: 12px;
  visibility: hidden;
}

.add_to_cart_text {
  padding-left: 12px;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav_menu {
  height: 148px;
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

ol.breadcrumb {
  list-style: none;
}

ol.breadcrumb li:not(:last-child):after {
  content: " /";
}

li.breadcrumb-item {
  display: inline;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

li.breadcrumb-item:hover {
  color: #e05c6e;
}

li.active {
  color: #F16D7F;
}

.nav_menu {
  text-transform: uppercase;
}

.menu_page_name {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

section.items__elements {
  margin-top: 64px;
  margin-bottom: 48px;
}

summary {
  display: block;
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] > li::before {
  content: '\25BC';
}

details {
  border: none;
}

details.catalog__filter__main[open] summary {
  color: #EF5B70;
}

details.catalog__filter__main[open] path {
  fill: #EF5B70;
}

.catalog__filter__menu {
  z-index: 1;
  width: 360px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  list-style: none;
}

.catalog__filter__subpoint {
  font-size: 14px;
  line-height: 17px;
  padding-top: 18px;
  padding-bottom: 16px;
}

.catalog__filter__subpoint summary {
  border-left-width: 5px;
  border-color: #EF5B70;
  border-left-style: solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 37px;
  border-bottom-color: #EBEBEB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-left: 17px;
}

.catalog__filter__submenu {
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-transform: none;
  color: #6F6F6F;
  list-style: none;
  margin-left: 33px;
  padding-top: 11px;
  padding-bottom: 24px;
}

.catalog__filter__submenu li {
  padding-top: 11px;
}

.catalog__filter__main summary::before {
  content: '';
  padding-right: 0.5em;
}

.catalog__filter__main__symbol {
  padding-left: 11px;
}

.catalog__filtering {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.catalog__filtering details:not(:first-child) {
  padding-left: 30px;
}

det.catalog__filer__main {
  width: 360px;
}

.custom_filtter_list {
  list-style: none;
  position: absolute;
  background: #FFFFFF;
  min-width: 80px;
  z-index: 1;
}

.custom_filtter_list li {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 6px;
}

.filter__checkbox {
  margin-right: 9px;
  margin-left: 9px;
  margin-top: 6px;
}

.filter__icon {
  padding-left: 10px;
}

.catalog__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 96px;
}

.catalog__navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pages__list {
  margin-left: 18px;
  margin-right: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.actual_page {
  color: #EF5B70;
}

.productGallery {
  width: 100%;
  height: 777px;
  background: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EBEBEB;
  position: absolute;
}

.productGallery__arrow:hover path:last-child {
  fill: #F16D7F;
}

.productGallery__arrow {
  z-index: 1;
}

.productInfo {
  position: relative;
  padding-top: 712px;
  margin-bottom: 128px;
}

.productInfo__box {
  border: 1px solid #EBEBEB;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
}

.productInfo__description {
  padding-top: 64px;
  padding-bottom: 64px;
  width: 642px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-style: solid;
  border-bottom-color: #EBEBEB;
}

.productInfo__description__divider {
  width: 63px;
  height: 3px;
  background: #EF5B70;
  border: none;
  margin-top: 12px;
  margin-bottom: 12px;
}

.productInfo__description__collection {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.productInfo__description__title {
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  color: #4D4D4D;
}

.productInfo__description__text {
  margin-top: 48px;
  color: #5D5D5D;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.productInfo__description__price {
  margin-top: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.productInfo__exactModel {
  width: 642px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.productInfo__exactModel__choses {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 48px;
  color: #6F6F6F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productInfo__exactModel__choses__size {
  padding-right: 24px;
  padding-left: 24px;
}

.productInfo__exactModel__addtocart {
  border: 1px solid #F26376;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 212px;
  padding-left: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.productInfo__exactModel__addtocart svg {
  margin-right: 24px;
}

.productInfo__exactModel__addtocart__icon {
  fill: #F26376;
}

.productInfo__exactModel__addtocart:hover {
  background: #F26376;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.productInfo__exactModel__addtocart:hover path {
  fill: #FFFFFF;
}

li {
  list-style: none;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 96px;
  padding-bottom: 128px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 652px;
  margin-bottom: 40px;
  background: white;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__desc h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.cart__desc {
  width: 262px;
  padding-top: 22px;
  padding-left: 31px;
}

.cart__close {
  padding-top: 22px;
  padding-right: 22px;
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 18px;
  cursor: pointer;
}

.cart__order {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__ship-form h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart__ship-input {
  width: 100%;
  margin-top: 20px;
  border-radius: 0;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart__ship-calc-btn {
  margin-top: 23px;
  font-size: 11px;
  line-height: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  color: #A4A4A4;
  padding: 12px 14px 10px 14px;
  border: 1px solid #A4A4A4;
}

.cart__ship-calc-btn:hover {
  color: #FFFFFF;
  background: #F16D7F;
}

.cart__buttons {
  padding-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
}

.cart__item-btn {
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 17px 40px 17px 40px;
}

.cart__item-btn:hover {
  color: #FFFFFF;
  background: #F16D7F;
}

.cart__money {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F3F3;
  padding-left: 42px;
  padding-right: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 57px;
  padding-top: 39px;
}

.cart__prices {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 100%;
  border-bottom: 1px solid #A4A4A4;
  padding-bottom: 21px;
}

.cart__price div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__subtotal {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.cart__subtotal h3 {
  padding-right: 30px;
  font-style: normal;
  font-weight: normal;
  color: #4A4A4A;
}

.cart__total {
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 12px;
}

.cart__total h3 {
  padding-right: 30px;
  font-style: normal;
  font-weight: normal;
  color: #222222;
}

.cart__total p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.cart__order-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 40px 15px 40px;
  border: 1px solid none;
  background: #F16D7F;
  color: #FFFFFF;
  margin-top: 17px;
  margin-bottom: 42px;
}

.cart__order-btn:hover {
  background: #e05c6e;
}

.item__params {
  margin-top: 42px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #5D5D5D;
}

.item__params li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__quantity {
  margin-left: 24px;
  border: 1px solid #E1E1E1;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding-left: 16px;
  padding-right: 16px;
  width: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* identical to box height */
  color: #6F6F6F;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-3 23:45:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shake-top
 * ----------------------------------------
 */
@-webkit-keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    -webkit-transform-origin-transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    -webkit-transform-transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    -webkit-transform-transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    -webkit-transform-transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    -webkit-transform-transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    -webkit-transform-transform: rotate(2deg);
  }
}

@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    -webkit-transform-origin-transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    -webkit-transform-transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    -webkit-transform-transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    -webkit-transform-transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    -webkit-transform-transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    -webkit-transform-transform: rotate(2deg);
  }
}

.reg__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reg__input {
  border-radius: 0;
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 16px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 20px;
}

.reg__inputform {
  padding-top: 64px;
}

.reg__gender {
  padding-top: 34px;
  padding-bottom: 34px;
}

.reg__gender fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reg__hint {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
}

.reg__submit-btn {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #F16D7F;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 29px 16px 29px;
  margin-top: 39px;
  margin-bottom: 96px;
  cursor: pointer;
}

.reg__submit-btn_arrow {
  margin-left: 20px;
}

.reg__submit-btn:hover {
  background: #e05c6e;
  -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s infinite both;
  animation: shake-top 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s infinite both;
}

.reg__advertise {
  padding-top: 64px;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-weight: normal;
}

.reg__advertise p {
  font-size: 24px;
  line-height: 29px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.reg__advertise ul {
  font-size: 24px;
  line-height: 29px;
}

.reg__advertise ul li {
  margin-top: 16px;
  list-style-image: url(img/adv_marker.svg);
  padding-left: 22px;
}

.gender__label {
  margin-left: 10px;
  margin-right: 20px;
}

.inputform__block h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

a:hover {
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */