$mainDark: #222222
$titleBG: #F1E4E6
$accentCol: #F16D7F
$lightText: #FFFFFF
$goodsBG: #F8F8F8
$goodsTXT: #5D5D5D
$itemsTXT: #9f9f9f
$browseAccent: #F26376
$sideTXT: #FBFBFB
$mailInputBG: #E1E1E1
$navBG: #F8F3F4
$breadcrumbTXT: #636363
$pagesListTXT: #C4C4C4
$catalogAccentTXT: #EF5B70
$filterRegularTXT: #6F6F6F
$filterRegularBorder: #EBEBEB
$cartBoxBorder: #A4A4A4
$cartPriceTXT: #4A4A4A
$hintTXT: #B1B1B1

* 
	margin: 0
	padding: 0
	font-family: 'Lato', sans-serif

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0



input[type=number]
  -moz-appearance: textfield

header 
	background: $mainDark
	height: 74px
	display: flex
	align-items: center
	justify-content: space-between

.center 
	padding-left: calc(50vw - 570px)
	padding-right: calc(50vw - 570px)

.header__left a:not(first-child) 
	margin-left: 41px

.header__right a:not(:last-child) 
	margin-right: 33px

.title 
	background: $titleBG
	display: flex
	padding-left: calc(50% - 800px)
	padding-right: calc(50% - 800px)
	&__picture 
		width: 50%
	
	&__content 
		width: 50%
	
	&__text 
		margin-top: 40%
		border-left: 12px solid $accentCol
		padding-left: 16px
		width: 50%
	
	&__heading 
		font-family: Lato
		font-style: normal
		font-weight: 900
		font-size: 48px
		line-height: 58px
		color: $mainDark
	
	&__info 
		font-family: Lato
		font-style: normal
		font-weight: bold
		font-size: 32px
		line-height: 38px
		color: $mainDark
	

.select 
	color: $accentCol

.promo__audienced 
	display: flex
	justify-content: space-between
	position: relative

.promo__text 
	position: absolute
	top: 0
	height: 100%
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	padding-left: 9%
	font-weight: 400

.promo__deal 
	font-family: Lato
	font-style: normal
	font-size: 16px
	line-height: 19px
	text-align: center
	color: $lightText

.audience 
	font-family: Lato
	font-style: normal
	font-size: 24px
	line-height: 29px
	text-align: center

.promo__common 
	position: relative
	padding-top: 30px

.common__text 
	position: absolute
	top: 0
	left: 0
	display: flex
	align-items: center
	flex-direction: column
	justify-content: center
	justify-items: center
	width: 100%
	height: 100%

.promo 
	padding-top: 64px

.items 
	display: flex
	flex-direction: column
	align-items: center
	justify-items: center
	&__elements 
		display: flex
		width: 100%
		justify-content: space-between
		flex-wrap: wrap
	
	&_elemet 
		width: 360px
		background: $goodsBG
		margin-bottom: 30px
		transition-duration: 300ms
		&:hover
			transform: scale(1.06)
	
	&__text 
		width: 100%
		display: flex
		align-items: center
		flex-direction: column
		padding-top: 96px
		padding-bottom: 48px
	
	&__title 
		font-size: 30px
		line-height: 36px
	
	&__description 
		font-size: 14px
		line-height: 17px
		color: $itemsTXT
	

.item__title 
	font-size: 13px
	line-height: 16px

.item__text 
	font-size: 14px
	line-height: 17px
	color: $goodsTXT
	margin-top: 12px
	margin-bottom: 18px
	font-weight: 400

.item__price 
	font-size: 16px
	line-height: 19px

.item__desc 
	padding-top: 25px
	padding-bottom: 20px
	padding-left: 16px

.browse__all_button 
	padding-top: 48px
	padding-bottom: 95px

.browse__button 
	font-size: 16px
	line-height: 19px
	border: 1px solid $browseAccent
	padding: 15px 40px
	color: $browseAccent
	text-decoration: none
	&:hover 
		color: $lightText
		border-color: $browseAccent - #111
		background: $accentCol
	

.conditions 
	height: 340px
	background: $mainDark
	display: flex
	align-items: center
	justify-items: center
	justify-content: space-between

.condition 
	display: flex
	flex-direction: column
	align-items: center
	width: 340px
	&__title 
		padding-top: 25px
		padding-bottom: 16px
		font-size: 19.96px
		line-height: 24px
		color: $sideTXT
	
	&_text 
		text-align: center
		font-size: 14px
		line-height: 17px
		color: $sideTXT
	

.byeblock 
	background-image: url("img/byebg.png")
	display: flex
	height: 448px
	justify-content: space-between
	justify-items: center
	align-items: center
	background-size: 100%

.quote 
	width: 360px
	align-items: center
	display: flex
	flex-direction: column
	
	&__photo
		transition-duration: 1s
		background: url(img/quotephoto.png)
		width: 96px
		height: 96px		
		&:hover
			transform: rotateY(180deg)			
			background: url(img/alt-quote.png)			
			&:after
				content: "Правосудию я верил,\A Но теперь в нём нет мне места!\A Умерла моя подруга детства!\A Палача невеста!";
				color: $goodsTXT
				margin-top: 10px
				margin-left: 40px
				width: 400px
				position: absolute
				transform: rotateY(180deg)
				white-space: break-spaces			
	&__text 
		font-size: 20px
		line-height: 24px
		text-align: center
		color: $mainDark
		padding-top: 30px
	

.cur 
	font-style: italic


.subscribe 
	display: flex
	flex-direction: column
	&__title 
		font-size: 24px
		line-height: 40px
		text-align: center
		color: $mainDark
	
	&__text 
		font-size: 18px
		line-height: 30px
		text-align: center
		color: $mainDark
	
	&__form 
		height: 48px
		padding-top: 32px
		display: flex
	
	&__email 
		background: $mailInputBG
		height: 48px
		padding-left: 22px
		width: 200px
		border-radius: 27px 0px 0px 27px
		border-width: 0
	
	&__button 
		text-decoration: none
		font-size: 14px
		line-height: 17px
		align-items: center
		text-align: center
		color: $lightText
		background: $accentCol
		height: 48px
		border-radius: 0px 27px 27px 0px
		display: flex
		padding-left: 12px
		padding-right: 12px
		&:hover 
			background: $accentCol - #333
		
	

.footer 
	background: $mainDark
	display: flex
	justify-content: space-between
	height: 80px
	justify-items: center
	align-items: center
	&__copyright__text 
		font-size: 16px
		line-height: 19px
		color: $sideTXT
	

.social__buttons 
	display: flex

.social__button 
	background: $lightText
	height: 32px
	width: 32px
	margin-left: 7px
	display: flex
	justify-content: center
	align-items: center
	&:hover 
		background: $accentCol
		img 
			filter: invert(1)
		
	

.item__picture__img 
	position: relative

.item__picture:hover .item__picture__img 
	filter: brightness(0.4)

.item__picture:hover .add_to_cart 
	visibility: visible

.item__picture 
	display: flex
	align-items: center

.add_to_cart 
	display: flex
	align-items: center
	position: absolute
	text-align: center
	margin-left: 111px
	border: 1px solid $lightText
	padding: 12px
	visibility: hidden
	&_text 
		padding-left: 12px
		text-decoration: none
		font-size: 14px
		line-height: 17px
		color: $lightText
		-webkit-touch-callout: none
		-webkit-user-select: none
		-khtml-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
	

.nav_menu 
	height: 148px
	background: $navBG
	display: flex
	justify-content: space-between
	align-items: center

a 
	text-decoration: none
	color: inherit

ol.breadcrumb 
	list-style: none
	li:not(:last-child):after 
		content: " /"
	

li.breadcrumb-item 
	display: inline
	font-size: 14px
	line-height: 17px
	color: $breadcrumbTXT
	&:hover
		color: $accentCol - #111


li.active 
	color: $accentCol

.nav_menu 
	text-transform: uppercase

.menu_page_name 
	font-family: Lato
	font-style: normal
	font-weight: normal
	font-size: 24px
	line-height: 29px
	color: $accentCol

section.items__elements 
	margin-top: 64px
	margin-bottom: 48px

summary 
	display: block
	outline: none
	&::-webkit-details-marker 
		display: none
	


details[open]>li::before 
	content: '\25BC'

details 
	border: none
	&.catalog__filter__main[open] summary 
		color: $catalogAccentTXT
	
	&.catalog__filter__main[open] path 
		fill: $catalogAccentTXT
	

.catalog__filter
    &__menu
        z-index: 1
        width: 360px
        background: #FFFFFF
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
        position: absolute
        list-style: none

    &__subpoint
        font-size: 14px
        line-height: 17px        
        padding-top: 18px
        padding-bottom: 16px
        & summary
            border-left-width: 5px
            border-color: $catalogAccentTXT        
            border-left-style: solid
            box-sizing: border-box
            line-height: 37px
            border-bottom-color: $filterRegularBorder
            border-bottom-width: 1px
            border-bottom-style: solid
            margin-left: 17px
    
    &__submenu
        font-size: 14px
        line-height: 17px
        /* identical to box height */
        text-transform: none
        color: $filterRegularTXT
        list-style: none
        margin-left: 33px        
        padding-top: 11px    
        padding-bottom: 24px    
        & li
            padding-top: 11px
        
        
            


    &__main  summary::before 
        content: ''
        padding-right: 0.5em
    
    &__main
        &__symbol 
	        padding-left: 11px


    


.catalog__filtering 
	margin-top: 50px
	display: flex
	text-transform: uppercase
	details:not(:first-child) 
		padding-left: 30px
	

det.catalog__filer__main 
	width: 360px    

.custom_filtter_list 
	list-style: none
	position: absolute
	background: $lightText
	min-width: 80px
	z-index: 1
	li 
		margin-top: 6px
		margin-bottom: 6px
		margin-right: 6px
	

.filter__checkbox 
	margin-right: 9px
	margin-left: 9px
	margin-top: 6px

.filter__icon 
	padding-left: 10px

.catalog__navigation 
	display: flex
	width: 100%
	justify-content: center
	padding-bottom: 96px
	&__container 
		display: flex
		align-items: center
	

.pages__list 
	margin-left: 18px
	margin-right: 18px
	font-style: normal
	font-weight: normal
	font-size: 16px
	line-height: 19px
	color: $pagesListTXT

.actual_page 
	color: $catalogAccentTXT

@import '__product.sass'
@import '__cart.sass'
@import '__registration.sass'